<VirtualHost *:80>
  ServerName {{ lamp }}

  LogLevel warn 
  ErrorLog "|/usr/bin/rotatelogs -lc /var/www/{{ project_name }}/var/log/apache2/error.%Y.%m.%d 86400"
  CustomLog "|/usr/bin/rotatelogs -lc /var/www/{{ project_name }}/var/log/apache2/access.%Y.%m.%d 86400" combined


  <FilesMatch ".+\.ph(p[3457]?|t|tml)$">
      SetHandler "proxy:unix:/var/run/php/php{{ apt_php_version }}-fpm-{{ project_user }}.sock|fcgi://localhost"
  </FilesMatch>
  <FilesMatch ".+\.phps$">
      # Deny access to raw php sources by default
      # To re-enable it's recommended to enable access to the files
      # only in specific virtual host or directory
      Require all denied
  </FilesMatch>
  # Deny access to files without filename (e.g. '.php')
  <FilesMatch "^\.ph(p[3457]?|t|tml|ps)$">
      Require all denied
  </FilesMatch>

  DocumentRoot /var/www/{{ project_name }}/www
  <Directory /var/www/{{ project_name }}/www/>

    Options Indexes FollowSymLinks MultiViews
    Order allow,deny
    Allow from all

    AllowOverride All
    DirectoryIndex index.php

    #.svn & .git directories must be avoided!!
    RedirectMatch 404 /\.svn(/|$)
    RedirectMatch 404 /\.git(/|$)
    RewriteCond %{REQUEST_URI} !^/robots.txt$
    RewriteRule \.txt$ - [F]

   </Directory>
</VirtualHost>
