[{{ project_user }}]
user = {{ project_user }}
group = {{ project_user }} 

listen = /var/run/php/php{{ apt_php_version }}-fpm-{{ project_user }}.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = 20 
pm.start_servers = 10 
pm.min_spare_servers = 5
pm.max_spare_servers = 19
pm.max_requests = 500 
;request_terminate_timeout = 45s

php_admin_value[open_basedir] = ".:/var/www/{{ project_name }}/www:/var/www/{{ project_name }}/var/tmp:/usr/share/php:/var/www/{{ project_name }}/var/log/:/dev/urandom:/var/www/{{ project_name }}/data"
php_value[include_path]=".:/var/www/{{ project_name }}/www:/var/www/{{ project_name }}/www/include"

; UPLOAD
php_admin_flag[file_uploads]=1
php_admin_value[upload_tmp_dir]="/var/www/{{ project_name }}/var/tmp/upload"
php_admin_value[cache_dir]="/var/www/{{ project_name }}/var/tmp"

;Maximum allowed size for uploaded files.
php_admin_value[upload_max_filesize]="2000M"
php_admin_value[max_input_time]=120
php_admin_value[post_max_size]="2000M"
php_admin_value[max_input_vars]="8500"

;#### LOGS
php_admin_value[error_log] = /var/www/{{ project_name }}/var/log/php{{ apt_php_version }}/error.log
php_admin_flag[log_errors] = on
php_admin_value[log_errors]=1
;php_flag[display_errors] = on
php_admin_value[display_errors]=0
php_admin_value[display_startup_errors]=1
php_admin_value[html_errors]=1
php_admin_value[define_syslog_variables]=1
php_value[error_reporting]=6143
request_slowlog_timeout = 30s
slowlog = /var/log/fpm-slow.log
; Maximum execution time of each script, in seconds (30)
php_value[max_input_time]="120"
; Maximum amount of time each script may spend parsing request data
php_value[max_execution_time]="300"
; Maximum amount of memory a script may consume (8MB)
php_value[memory_limit]="512M"

; Sessions: IMPORTANT reactivate garbage collector on Debian!!!
php_value[session.gc_maxlifetime]=3600
php_admin_value[session.gc_probability]=1
php_admin_value[session.gc_divisor]=100

; SECURITY
php_admin_value[magic_quotes_gpc]=0
php_admin_value[register_globals]=0
php_admin_value[session.auto_start]=0
php_admin_value[session.gc_maxlifetime]=3600
php_value[session.save_path]='/var/www/{{ project_name }}/var/sessions'
php_admin_value[mbstring.http_input]="pass"
php_admin_value[mbstring.http_output]="pass"
php_admin_value[mbstring.encoding_translation]=0
php_admin_value[expose_php]=0
php_admin_value[allow_url_fopen]=1
php_admin_value[safe_mode]=0
php_admin_value[expose_php]=0

; enforce filling PATH_INFO & PATH_TRANSLATED
; and not only SCRIPT_FILENAME
php_admin_value[cgi.fix_pathinfo]=1
; 1: will use PATH_TRANSLATED instead of SCRIPT_FILENAME
php_admin_value[cgi.discard_path]=0


; OPCACHE
php_admin_value[opcache.enable] = 0
php_admin_value[opcache.enable_cli] = 1
php_admin_value[opcache.interned_strings_buffer] = "8"
php_admin_value[opcache.max_accelerated_files] = "10000"
php_admin_value[opcache.memory_consumption] = "128"
php_admin_value[opcache.save_comments] = 1
php_admin_value[opcache.revalidate_freq] = 1

chdir = /

